@import "tailwindcss";

/*  
  --color-cream: #FAF8F1;
  --color-green: #679C2D;
  --color-brown: #523D2B;
*/

@theme {
  --color-matcha: #4caf50;
  --color-dark-green: #679c2d;
  --color-brown: #4e342e;
  --color-cream: #f6e9d2;
  --color-white: #fefaec;
  --color-beryl-green: #dae3c3;
  --color-parsley-green: #2d5a1b;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--color-cream);
  font-family: "Poppins", sans-serif;
}
